@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  @apply py-2 px-3 rounded flex items-center space-x-2 leading-4 text-xs leading-4 font-medium uppercase tracking-wider duration-75 cursor-pointer mx-2;
  &-red {
    @apply border-red-300 border-2 text-red-500 hover:bg-red-200;
  }
  &-green {
    @apply border-green-400 border-2 text-green-500 hover:bg-green-200;
  }
  &-blue {
    @apply border-blue-400 border-2 text-blue-500 hover:bg-blue-200;
  }
}
.input-underline {
  @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}
.is-invalid-input {
   @apply border-red-200 text-red-500;
}
