@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

svg {
  display: inline-block;
}
.btn {
  @apply py-2 px-3 rounded inline-flex items-center space-x-2 leading-4 text-xs leading-4 font-medium uppercase tracking-wider duration-75 cursor-pointer mx-2;
  width: fit-content;
  &-red {
    @apply border-red-300 border-2 text-red-500 hover:bg-red-200;
  }
  &-green {
    @apply border-green-400 border-2 text-green-500 hover:bg-green-200;
  }
  &-blue {
    @apply border-blue-400 border-2 text-blue-500 hover:bg-blue-200;
  }
}
.input-underline {
  @apply mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black;
}
.is-invalid-input {
   @apply border-red-200 text-red-500;
}
.table-view {
    @apply min-w-max w-full table-auto;
    thead {
        @apply bg-gray-50;
        th {
            @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
        }
    }
    tbody {
        @apply text-gray-600 text-sm font-light;
        tr {
            @apply border-b border-gray-200 hover:bg-gray-100;
        }
        td {
            @apply px-6 py-2 text-sm;
        }
    }
}
.table-cell .btn {
  display: inline-block;
  margin: 0;
}
.is-visible {
  @apply text-red-500 text-sm m-1 block
}