@import "~foundation-sites/dist/css/foundation.css";

.show-form {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    .content {
        width: 50%;
        background-color: #ffffff;
        padding: 1em;
        box-sizing: content-box;
        position: relative;
        z-index: 10;
    }
    &[data-type='edit'] {
        display: flex;
    }
}

.d-flex {
    display: flex;
}
.flex-end {
    justify-content: flex-end;
}
.auto {
    margin: auto;
}
